<a href="https://colab.research.google.com/github/mathstat72/Coding-Test/blob/main/3.1%20brute_force.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- **브루트포스(완전 탐색) 문제**란 정답으로 나올 수 있는 경우의 수를 모두 조사한 다음, 조건에 해당하는 값이 나오면 정답을 얻게 되는 문제

# 2309 - 일곱 난쟁이
왕비를 피해 일곱 난쟁이들과 함께 평화롭게 생활하고 있던 백설공주에게 위기가 찾아왔다. 일과를 마치고 돌아온 난쟁이가 일곱 명이 아닌 아홉 명이었던 것이다.

아홉 명의 난쟁이는 모두 자신이 "백설 공주와 일곱 난쟁이"의 주인공이라고 주장했다. 뛰어난 수학적 직관력을 가지고 있던 백설공주는, 다행스럽게도 일곱 난쟁이의 키의 합이 100이 됨을 기억해 냈다.

아홉 난쟁이의 키가 주어졌을 때, 백설공주를 도와 일곱 난쟁이를 찾는 프로그램을 작성하시오.
- 아홉 개의 줄에 걸쳐 난쟁이들의 키가 주어진다. 주어지는 키는 100을 넘지 않는 자연수이며, 아홉 난쟁이의 키는 모두 다르며, 가능한 정답이 여러 가지인 경우에는 아무거나 출력한다.
- 일곱 난쟁이의 키를 오름차순으로 출력한다. 일곱 난쟁이를 찾을 수 없는 경우는 없다.
---
- 7명의 키의 합이 100이므로 9명 중 2명을 뽑아서 그 2명의 키를 뺀 값이 100이 되도록 하는 2명이 누군가를 찾으면 되는 문제

In [ ]:
## for문 이용
array = []
for i in range(9):
  array.append(int(input()))

20
7
23
19
10
15
25
8
13

In [ ]:
total = sum(array)
one = 0
two = 0

for i in range(9):
  for j in range(i+1, 9):
    if total - (array[i] + array[j]) == 100:
      one = array[i]
      two = array[j]
      break

print(one, two)

15 25

In [ ]:
array.remove(one)
array.remove(two)
array.sort()       # 오름차순 정렬

for i in array:
  print(i)

7
8
10
13
19
20
23

In [ ]:
sum(array)

100

---
- 풀이 요약

In [ ]:
## for문 이용
array = []
for i in range(9):
  array.append(int(input()))

total = sum(array)
one = 0
two = 0

for i in range(9):
  for j in range(i+1, 9):
    if total - (array[i] + array[j]) == 100:
      one = array[i]
      two = array[j]
      break

array.remove(one)
array.remove(two)
array.sort()       # 오름차순 정렬

# 출력
for i in array:
  print(i)


'''import sys

heights = list(map(int, sys.stdin.readline().split()))'''

- 다른 풀이

In [ ]:
## combinations 라이브러리 이용 - 순열: permutations, 조합: combinations
import itertools

array = [int(input()) for _ in range(9)]

for i in itertools.combinations(array, 7):   # 9C7
  if sum(i) == 100:  # 그 합이 100이라면
    for j in sorted(i):  # 그 7명을 오름차순 정렬 후 출력
      print(j)
    break

20
7
23
19
10
15
25
8
13
7
8
10
13
19
20
23

# 3085 - 사탕게임
상근이는 어렸을 적에 "봄보니 (Bomboni)" 게임을 즐겨했다.

가장 처음에 N×N크기에 사탕을 채워 놓는다. 사탕의 색은 모두 같지 않을 수도 있다. 상근이는 사탕의 색이 다른 인접한 두 칸을 고른다. 그 다음 고른 칸에 들어있는 사탕을 서로 교환한다. 이제, 모두 같은 색으로 이루어져 있는 가장 긴 연속 부분(행 또는 열)을 고른 다음 그 사탕을 모두 먹는다.

사탕이 채워진 상태가 주어졌을 때, 상근이가 먹을 수 있는 사탕의 최대 개수를 구하는 프로그램을 작성하시오.
- 첫째 줄에 보드의 크기 N이 주어진다. (3 ≤ N ≤ 50) 다음 N개 줄에는 보드에 채워져 있는 사탕의 색상이 주어진다. 빨간색은 C, 파란색은 P, 초록색은 Z, 노란색은 Y로 주어진다. 사탕의 색이 다른 인접한 두 칸이 존재하는 입력만 주어진다.
- 첫째 줄에 상근이가 먹을 수 있는 사탕의 최대 개수를 출력한다.

In [ ]:
N = int(input())
board = [input() for _ in range(N)]

3
CCP
CCP
PPC

- 먼소린지...

# 1476 - 날짜 계산
준규가 사는 나라는 우리가 사용하는 연도와 다른 방식을 이용한다. 준규가 사는 나라에서는 수 3개를 이용해서 연도를 나타낸다. 각각의 수는 지구, 태양, 그리고 달을 나타낸다.

지구를 나타내는 수를 E, 태양을 나타내는 수를 S, 달을 나타내는 수를 M이라고 했을 때, 이 세 수는 서로 다른 범위를 가진다. (1 ≤ E ≤ 15, 1 ≤ S ≤ 28, 1 ≤ M ≤ 19)

우리가 알고있는 1년은 준규가 살고있는 나라에서는 1 1 1로 나타낼 수 있다. 1년이 지날 때마다, 세 수는 모두 1씩 증가한다. 만약, 어떤 수가 범위를 넘어가는 경우에는 1이 된다.

예를 들어, 15년은 15 15 15로 나타낼 수 있다. 하지만, 1년이 지나서 16년이 되면 16 16 16이 아니라 1 16 16이 된다. 이유는 1 ≤ E ≤ 15 라서 범위를 넘어가기 때문이다.

E, S, M이 주어졌고, 1년이 준규가 사는 나라에서 1 1 1일때, 준규가 사는 나라에서 E S M이 우리가 알고 있는 연도로 몇 년인지 구하는 프로그램을 작성하시오.
- 첫째 줄에 세 수 E, S, M이 주어진다. 문제에 나와있는 범위를 지키는 입력만 주어진다.
- 첫째 줄에 E S M으로 표시되는 가장 빠른 연도를 출력한다. 1 1 1은 항상 1이기 때문에, 정답이 음수가 나오는 경우는 없다.
---
- 연도에서 주어진 E, S, M를 뺏을 때의 나머지가 모두 0이라면 해당 연도가 바로 준규가 사는 나라의 E, S, M

In [ ]:
e, s, m = map(int, input().split())

1 16 16

In [ ]:
year = 1

while True:
  if (year - e) % 15 == 0 and (year - s) % 28 == 0 and (year - m) % 19 == 0 :
    break
  year += 1

print(year)

16

---
- 풀이 요약

In [ ]:
e, s, m = map(int, input().split())

year = 1

while True:
  if (year - e) % 15 == 0 and (year - s) % 28 == 0 and (year - m) % 19 == 0 :
    break
  year += 1

print(year)

15 15 15
15

# 1107 - 리모컨
수빈이는 TV를 보고 있다. 수빈이는 채널을 돌리려고 했지만, 버튼을 너무 세게 누르는 바람에, 일부 숫자 버튼이 고장났다.

리모컨에는 버튼이 0부터 9까지 숫자, +와 -가 있다. +를 누르면 현재 보고있는 채널에서 +1된 채널로 이동하고, -를 누르면 -1된 채널로 이동한다. 채널 0에서 -를 누른 경우에는 채널이 변하지 않고, 채널은 무한대 만큼 있다.

수빈이가 지금 이동하려고 하는 채널은 N이다. 어떤 버튼이 고장났는지 주어졌을 때, 채널 N으로 이동하기 위해서 버튼을 최소 몇 번 눌러야하는지 구하는 프로그램을 작성하시오. 

수빈이가 지금 보고 있는 채널은 100번이다.
- 첫째 줄에 수빈이가 이동하려고 하는 채널 N (0 ≤ N ≤ 500,000)이 주어진다.  둘째 줄에는 고장난 버튼의 개수 M (0 ≤ M ≤ 10)이 주어진다. 고장난 버튼이 있는 경우에는 셋째 줄에는 고장난 버튼이 주어지며, 같은 버튼이 여러 번 주어지는 경우는 없다.
- 첫째 줄에 채널 N으로 이동하기 위해 버튼을 최소 몇 번 눌러야 하는지를 출력한다.

In [ ]:
N = int(input())   #채널
M = int(input())   #고장난 버튼의 수
broken = input().split()  #고장난 버튼

5457
3
6 7 8

In [ ]:
# 현재 채널에서 +/- 만 사용하여 이동하는 경우(최대)
min_cnt = abs(100 - N)

In [ ]:
for num in range(1000001):
  for j in str(num):
    if j in broken:
      break
  else:
    min_cnt = min(min_cnt, len(str(num)) + abs(num - N))

print(min_cnt)

6

---
- 풀이 요약

In [ ]:
N = int(input())   #채널
M = int(input())   #고장난 버튼의 수
broken = input().split()  #고장난 버튼

# 현재 채널에서 +/- 만 사용하여 이동하는 경우(최대)
min_cnt = abs(100 - N)

# 반복문을 통해 이동해야하는 채널로 가기 위한 방법을 확인
for i in range(1000001):

    # 반복문을 통해 채널로 이동하기 위해 눌러야 하는 번호가 고장이 났는지 확인
    for j in str(i):
        if j in broken:
            break

    # 채널로 이동 가능하다면 원래 cnt와 채널을 누른 개수와 +/- 를 누른 개수를 cnt에 담는다.
    min_cnt = min(min_cnt, len(str(i)) + abs(i - N))

print(min_cnt)

5457
3
6 7 8
4

# 14500 - 테트로미노
폴리오미노란 크기가 1×1인 정사각형을 여러 개 이어서 붙인 도형이며, 다음과 같은 조건을 만족해야 한다.

- 정사각형은 서로 겹치면 안 된다.
- 도형은 모두 연결되어 있어야 한다.
- 정사각형의 변끼리 연결되어 있어야 한다. 즉, 꼭짓점과 꼭짓점만 맞닿아 있으면 안 된다.

정사각형 4개를 이어 붙인 폴리오미노는 테트로미노라고 하며, 다음과 같은 5가지가 있다.

![image.png]()

아름이는 크기가 N×M인 종이 위에 테트로미노 하나를 놓으려고 한다. 종이는 1×1 크기의 칸으로 나누어져 있으며, 각각의 칸에는 정수가 하나 쓰여 있다.

테트로미노 하나를 적절히 놓아서 테트로미노가 놓인 칸에 쓰여 있는 수들의 합을 최대로 하는 프로그램을 작성하시오.

테트로미노는 반드시 한 정사각형이 정확히 하나의 칸을 포함하도록 놓아야 하며, 회전이나 대칭을 시켜도 된다.

- 첫째 줄에 종이의 세로 크기 N과 가로 크기 M이 주어진다. (4 ≤ N, M ≤ 500)

- 둘째 줄부터 N개의 줄에 종이에 쓰여 있는 수가 주어진다. i번째 줄의 j번째 수는 위에서부터 i번째 칸, 왼쪽에서부터 j번째 칸에 쓰여 있는 수이다. 입력으로 주어지는 수는 1,000을 넘지 않는 자연수이다.

- 첫째 줄에 테트로미노가 놓인 칸에 쓰인 수들의 합의 최댓값을 출력한다.

In [ ]:
#N, M = map(int, input().split())
#arr = [map(int, input().split()) for _ in range(N)]

5 5
1 2 3 4 5
5 4 3 2 1
2 3 4 5 6
6 5 4 3 2
1 2 1 2 1

In [ ]:
N, M = map(int, input().split())
arr = [list(map(int, input().split())) for _ in range(N)]

5 5
1 2 3 4 5
5 4 3 2 1
2 3 4 5 6
6 5 4 3 2
1 2 1 2 1

In [ ]:
arr

[[1, 2, 3, 4, 5],
 [5, 4, 3, 2, 1],
 [2, 3, 4, 5, 6],
 [6, 5, 4, 3, 2],
 [1, 2, 1, 2, 1]]

- 6+5+4+4=19
- 댕어렵구만..? 이게 삼성 기출이라니...
- https://aigong.tistory.com/473

# 6064 - 카잉달력
최근에 ICPC 탐사대는 남아메리카의 잉카 제국이 놀라운 문명을 지닌 카잉 제국을 토대로 하여 세워졌다는 사실을 발견했다. 카잉 제국의 백성들은 특이한 달력을 사용한 것으로 알려져 있다. 그들은 M과 N보다 작거나 같은 두 개의 자연수 x, y를 가지고 각 년도를 <x:y>와 같은 형식으로 표현하였다. 그들은 이 세상의 시초에 해당하는 첫 번째 해를 <1:1>로 표현하고, 두 번째 해를 <2:2>로 표현하였다. <x:y>의 다음 해를 표현한 것을 <x':y'>이라고 하자. 만일 x < M 이면 x' = x + 1이고, 그렇지 않으면 x' = 1이다. 같은 방식으로 만일 y < N이면 y' = y + 1이고, 그렇지 않으면 y' = 1이다. <M:N>은 그들 달력의 마지막 해로서, 이 해에 세상의 종말이 도래한다는 예언이 전해 온다.

예를 들어, M = 10 이고 N = 12라고 하자. 첫 번째 해는 <1:1>로 표현되고, 11번째 해는 <1:11>로 표현된다. <3:1>은 13번째 해를 나타내고, <10:12>는 마지막인 60번째 해를 나타낸다.

네 개의 정수 M, N, x와 y가 주어질 때, <M:N>이 카잉 달력의 마지막 해라고 하면 <x:y>는 몇 번째 해를 나타내는지 구하는 프로그램을 작성하라.
- 입력 데이터는 표준 입력을 사용한다. 입력은 T개의 테스트 데이터로 구성된다. 입력의 첫 번째 줄에는 입력 데이터의 수를 나타내는 정수 T가 주어진다. 각 테스트 데이터는 한 줄로 구성된다. 각 줄에는 네 개의 정수 M, N, x와 y가 주어진다. (1 ≤ M, N ≤ 40,000, 1 ≤ x ≤ M, 1 ≤ y ≤ N) 여기서 <M:N>은 카잉 달력의 마지막 해를 나타낸다.
- 출력은 표준 출력을 사용한다. 각 테스트 데이터에 대해, 정수 k를 한 줄에 출력한다. 여기서 k는 <x:y>가 k번째 해를 나타내는 것을 의미한다. 만일 <x:y>에 의해 표현되는 해가 없다면, 즉, <x:y>가 유효하지 않은 표현이면, -1을 출력한다.

In [ ]:
T = int(input())  #입력 데이터의 수
data = [list(map(int, input().split())) for _ in range(T)]

3
10 12 3 9
10 12 7 2
13 11 5 6

[10, 12, 7, 2]

# 1748 - 수 이어 쓰기1
1부터 N까지의 수를 이어서 쓰면 다음과 같이 새로운 하나의 수를 얻을 수 있다.

> 1234567891011121314151617181920212223...

이렇게 만들어진 새로운 수는 몇 자리 수일까? 이 수의 자릿수를 구하는 프로그램을 작성하시오.

- 첫째 줄에 N(1 ≤ N ≤ 100,000,000)이 주어진다.
- 첫째 줄에 새로운 수의 자릿수를 출력한다.

In [ ]:
num = int(input())

5

In [ ]:
new_num = ''
for i in range(1, num+1):
  i = str(i)
  new_num += i
print(len(new_num))

5

---
- 코드 정리

In [ ]:
num = int(input())

new_num = ''
for i in range(1, num+1):
  i = str(i)
  new_num += i
print(len(new_num))

15
21

- 이건 쫌 쉬웠다. 시간 초과 되는지는 모르겟음

# 9095 - 1, 2, 3 더하기
정수 4를 1, 2, 3의 합으로 나타내는 방법은 총 7가지가 있다. 합을 나타낼 때는 수를 1개 이상 사용해야 한다.

- 1+1+1+1
- 1+1+2
- 1+2+1
- 2+1+1
- 2+2
- 1+3
- 3+1

정수 n이 주어졌을 때, n을 1, 2, 3의 합으로 나타내는 방법의 수를 구하는 프로그램을 작성하시오.

- 첫째 줄에 테스트 케이스의 개수 T가 주어진다. 각 테스트 케이스는 한 줄로 이루어져 있고, 정수 n이 주어진다. n은 양수이며 11보다 작다.

- 각 테스트 케이스마다, n을 1, 2, 3의 합으로 나타내는 방법의 수를 출력한다.

In [ ]:
T = int(input())    #테스트 케이스의 개수
n = [int(input()) for _ in range(T)]

3
4
7
10

In [ ]:
for i in n:
  print(i)

4
7
10

In [ ]:
'''
앞 숫자가 뒷 숫자보다 무조건 커야된다고 하면..

3 3 1           3
3 2 2           3
3 2 1 1         12
3 1 1 1 1       5

2 2 2 1         4
2 2 1 1 1       10
2 1 1 1 1 1     6

1 1 1 1 1 1 1   1
'''

'''
1

1 1

1 1 1
2 1

3 1
2 2
2 1 1
1 1 1 1
'''

In [ ]:
3+3+12+5+4+10+6+1

44

- 3085
- 6064
- 14500 못풀