<a href="https://colab.research.google.com/github/mathstat72/Coding-Test/blob/main/basic_100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [코드업] 기초 100제 풀이

## 6021 : [기초-입출력] 단어 1개 입력받아 나누어 출력하기(설명)(py)

알파벳과 숫자로 이루어진 단어 1개가 입력된다.
입력받은 단어의 각 문자를 한 줄에 한 문자씩 분리해 출력한다.

In [3]:
s = input()

for i in s:
  print(i)

''' 
print(s[0])
print(s[1]) ... 
'''

Hello
H
e
l
l
o

## 6022 : [기초-입출력] 연월일 입력받아 나누어 출력하기(설명)(py)
6자리의 연월일(YYMMDD)을 입력받아 나누어 출력해보자.

In [6]:
s = input()
print(s[0:2], s[2:4], s[4:6])  #sep=' '

200304
20 03 04

## 6023 : [기초-입출력] 시분초 입력받아 분만 출력하기(py)
시:분:초 형식으로 시간이 입력될 때 분만 출력해보자.

In [9]:
y, m, d = input().split(':')
print(m)

17:23:57
23

## 6024 : [기초-입출력] 단어 2개 입력받아 이어 붙이기(설명)(py)
알파벳 문자와 숫자로 이루어진 단어 2개를 입력받아
순서대로 붙여 출력하는 프로그램을 작성해보자.

In [10]:
w1, w2 = input().split(' ')
print(w1 + w2)

hello world2
helloworld2

## 6025 : [기초-값변환] 정수 2개 입력받아 합 계산하기(설명)(py)
정수 2개를 입력받아
합을 출력하는 프로그램을 작성해보자.

In [12]:
a, b = input().split(' ')
print(int(a) + int(b))

123 -123
0

## 6026 : [기초-값변환] 실수 2개 입력받아 합 계산하기(설명)(py)
실수 2개를 입력받아
합을 출력하는 프로그램을 작성해보자.

In [16]:
a = float(input())
b = float(input())
print(a + b)

.1
.9
1.0

## 6027 : [기초-출력변환] 10진 정수 입력받아 16진수로 출력하기1(설명)(py)
10진수를 입력받아 16진수(hexadecimal)로 출력해보자.

In [17]:
s = int(input())
print('%x'%s) 

 #10진수 형태로 입력받고 %x로 출력하면 16진수(hexadecimal) 소문자로 출력된다.
 #(%o로 출력하면 8진수(octal) 문자열로 출력된다.)

255
ff

## 6028 : [기초-출력변환] 10진 정수 입력받아 16진수로 출력하기2(설명)(py)
10진수를 입력받아 16진수(hexadecimal)로 출력해보자.

In [18]:
s = int(input())
print('%X'%s) 

#10진수 형태로 입력받고 %X로 출력하면 16진수(hexadecimal)대문자로 출력된다

255
FF

## 6029 : [기초-값변환] 16진 정수 입력받아 8진수로 출력하기(설명)(py)
16진수를 입력받아 8진수(octal)로 출력해보자.

In [19]:
s = int(input(), 16) #16진수로 인식
print('%o'%s)

f
17

## 6030 : [기초-값변환] 영문자 1개 입력받아 10진수로 변환하기(설명)(py)
- 영문자 1개를 입력받아 10진수 유니코드(Unicode) 값으로 출력해보자.

In [20]:
n = ord(input())  #입력받은 문자를 10진수 유니코드 값으로 변환한 후, n에 저장한다.
print(n)

A
65

## 6031 : [기초-값변환] 정수 입력받아 유니코드 문자로 변환하기(설명)(py)
10진 정수 1개를 입력받아 유니코드 문자로 출력해보자.

In [23]:
c = int(input())
print(chr(c))  #c에 저장되어 있는 정수 값을 유니코드 문자(chracter)로 바꿔 출력한다. 

#chr( )는 정수값->문자, ord( )는 문자->정수값 형태로 바꿔주는 서로 반대 방향으로 바꾸어 주는 기능을 한다.

65
A

## 6032 : [기초-산술연산] 정수 1개 입력받아 부호 바꾸기(설명)(py)
입력된 정수의 부호를 바꿔 출력해보자.

In [24]:
n = int(input())
print(-n)

-1
1

## 6033 : [기초-산술연산] 문자 1개 입력받아 다음 문자 출력하기(설명)(py)

문자 1개를 입력받아 그 다음 문자를 출력해보자.
영문자 'A'의 다음 문자는 'B'이고, 숫자 '0'의 다음 문자는 '1'이다.

In [30]:
a = ord(input())  #유니코드 값으로 변환
print(chr(a+1))   #유니코드 문자로 변환

A
B

## 6034 : [기초-산술연산] 정수 2개 입력받아 차 계산하기(설명)(py)
정수 2개(a, b)를 입력받아 a에서 b를 뺀 차를 출력하는 프로그램을 작성해보자.

In [32]:
a, b = input().split(' ')
print(int(a) - int(b))

123 -123
246

## 6035 : [기초-산술연산] 실수 2개 입력받아 곱 계산하기(설명)(py)
실수 2개(f1, f2)를 입력받아 곱을 출력하는 프로그램을 작성해보자.

In [33]:
a, b = input().split(' ')
print(float(a)* float(b))

0.5 2.0
1.0

## 6036 : [기초-산술연산] 단어 여러 번 출력하기(설명)(py)
단어와 반복 횟수를 입력받아 여러 번 출력해보자.

In [35]:
w, n = input().split(' ')
print(w * int(n))

love 3
lovelovelove

## 6037 : [기초-산술연산] 문장 여러 번 출력하기(설명)(py)
반복 횟수와 문장을 입력받아 여러 번 출력해보자.

In [37]:
n = int(input())
w = input()

print(w * n)

3
I love CS
I love CSI love CSI love CS

## 6038 : [기초-산술연산] 정수 2개 입력받아 거듭제곱 계산하기(설명)(py)

정수 2개(a, b)를 입력받아
a를 b번 곱한 거듭제곱을 출력하는 프로그램을 작성해보자.

In [38]:
a, b = input().split(' ')
print(int(a) ** int(b))

2 10
1024

## 6039 : [기초-산술연산] 실수 2개 입력받아 거듭제곱 계산하기(py)
실수 2개(f1, f2)를 입력받아
f1을 f2번 거듭제곱한 값을 출력하는 프로그램을 작성해보자.

In [39]:
f1, f2 = input().split(' ')
print(float(f1) ** float(f2))

4.0 2.0
16.0

## 6040 : [기초-산술연산] 정수 2개 입력받아 나눈 몫 계산하기(설명)(py)
- 정수 2개(a, b) 를 입력받아 a를 b로 나눈 몫을 출력해보자.

In [41]:
a, b = input().split(' ')
print(int(a) // int(b))

10 3
3

## 6041 : [기초-산술연산] 정수 2개 입력받아 나눈 나머지 계산하기(설명)(py)
정수 2개(a, b) 를 입력받아 a를 b로 나눈 나머지를 출력해보자.

In [44]:
a, b = input().split(' ')
print(int(a) % int(b))

10 3
1

## 6042 : [기초-값변환] 실수 1개 입력받아 소숫점이하 자리 변환하기(설명)(py)
실수 1개를 입력받아
소숫점 이하 두 번째 자리까지의 정확도로 반올림한 값을 출력해보자.

In [46]:
a = float(input())
print(round(a, 2))   #print(format(a, ".2f"))

3.141592
3.14

## 6043 : [기초-산술연산] 실수 2개 입력받아 나눈 결과 계산하기(py)

실수 2개(f1, f2)를 입력받아
f1 을 f2 로 나눈 값을 출력해보자. 이 때 소숫점 넷째자리에서 반올림하여 무조건 소숫점 셋째 자리까지 출력한다.

In [47]:
f1, f2 = input().split(' ')
print(round(float(f1) / float(f2), 3))  #print("{0:.3f}".format(float))

10.0 3.0
3.333

## 6044 : [기초-산술연산] 정수 2개 입력받아 자동 계산하기(py)
정수 2개(a, b)를 입력받아 합, 차, 곱, 몫, 나머지, 나눈 값을 자동으로 계산해보자.
단, b는 0이 아니다.

In [51]:
a, b = input().split(' ')
a, b = int(a), int(b)

print(a + b)
print(a - b)
print(a * b)
print(a // b)
print(a % b)
print(round(a / b, 2))

10 3
13
7
30
3
1
3.33

## 6045 : [기초-산술연산] 정수 3개 입력받아 합과 평균 출력하기(설명)(py)

정수 3개를 입력받아 합과 평균을 출력해보자.

In [56]:
a, b, c = input().split(' ')
a, b, c = int(a), int(b), int(c)
sum = a+b+c
avg = sum/3
print(sum, format(avg, ".2f"))

1 2 3
6 2.00

## 6046 : [기초-비트시프트연산] 정수 1개 입력받아 2배 곱해 출력하기(설명)(py)
정수 1개를 입력받아 2배 곱해 출력해보자.
- 정수를 2배로 곱하거나 나누어 계산해 주는 비트단위시프트연산자 <<, >>를 이용할 수 있다

In [57]:
a = int(input())
print(a<<1)  #a를 2배 한 값 출력

1024
2048

## 6047 : [기초-비트시프트연산] 2의 거듭제곱 배로 곱해 출력하기(설명)(py)
정수 2개(a, b)를 입력받아 a를 2^b배 곱한 값으로 출력해보자.
0 <= a <= 10, 0 <= b <= 10

In [60]:
a, b = input().split(' ')
a, b = int(a), int(b)

print(a<<b)  #a를 2^b배 곱한 값 출력

1 3
8

## 6048 : [기초-비교연산] 정수 2개 입력받아 비교하기1(설명)(py)
두 정수(a, b)를 입력받아
a가 b보다 작으면 True 를, a가 b보다 크거나 같으면 False 를 출력하는 프로그램을 작성해보자.

In [61]:
a, b = input().split(' ')
a, b = int(a), int(b)

print(a < b)

1 9
True

## 6049 : [기초-비교연산] 정수 2개 입력받아 비교하기2(설명)(py)
두 정수(a, b)를 입력받아
a와 b의 값이 같으면 True 를, 같지 않으면 False 를 출력하는 프로그램을 작성해보자.

In [63]:
a, b = input().split(' ')
a, b = int(a), int(b)

print(a == b)

0 0
True

## 6050 : [기초-비교연산] 정수 2개 입력받아 비교하기3(설명)(py)

두 정수(a, b)를 입력받아
b의 값이 a의 값 보다 크거나 같으면 True 를, 같지 않으면 False 를 출력하는 프로그램을 작성해보자.

In [64]:
a, b = input().split(' ')
a, b = int(a), int(b)

print(b >= a)

0 -1
False

## 6051 : [기초-비교연산] 정수 2개 입력받아 비교하기4(설명)(py)

두 정수(a, b)를 입력받아
a의 값이 b의 값과 서로 다르면 True 를, 같으면 False 를 출력하는 프로그램을 작성해보자.

In [65]:
a, b = input().split(' ')
a, b = int(a), int(b)

print(a != b)

0 1
True

## 6052 : [기초-논리연산] 정수 입력받아 참 거짓 평가하기(설명)(py)

정수가 입력되었을 때, True/False 로 평가해주는 프로그램을 작성해보자.

In [69]:
n = int(input())
print(bool(n))   #입력된 값이 0이면 False, 0이 아니면 True 출력

0
False

## 6053 : [기초-논리연산] 참 거짓 바꾸기(설명)(py)
정수값이 입력될 때,
그 불 값을 반대로 출력하는 프로그램을 작성해보자.