<a href="https://colab.research.google.com/github/mathstat72/Coding-Test/blob/main/Chapter2_%EA%B7%B8%EB%A6%AC%EB%94%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PART 2.
## 2. 큰 수의 법칙
- 주어진 수들을 M번 더하여 가장 큰 수를 만드는 법칙
- 단, 배열의 특정한 인덱스(번호)에 해당하는 수가 연속해서 K번을 초과하여 더해질 수 없다.
  - 첫째 줄에 N, M, K의 자연수가 주어지며, 각 자연수는 공백으로 구분한다.
  - 둘째 줄에 N개의 자연수가 주어진다. 각 자연수는 공백으로 구분한다. 단, 각각의 자연수는 1 이상 10,000 이하의 수로 주어진다.
  - 입력으로 주어지는 K는 항상 M보다 작거나 같다.
  - 첫째 줄에 동빈이의 큰 수의 법칙에 따라 더해진 답을 출력한다.
---
- 가장 큰 수와 두번째로 큰 수만 있으면 됌

In [ ]:
# 입력 예시
'''5 8 3
2 4 5 4 6

# 출력 예시
46'''

# 과정
6 + 6 + 6 + 5 + 6 + 6 + 6 + 5

46

In [ ]:
n, m, k = map(int, input().split())
num = list(map(int, input().split()))

5 8 3
2 4 5 4 6

In [ ]:
num.sort()
first = num[-1]
second = num[-2]

In [ ]:
result = 0

while True:
    for i in range(k):  #가장 큰 수를 k번 더하기
        if m == 0:
            break
        result += first
        m -= 1
    if m == 0:
        break
    result += second
    m -= 1

print(result)

46

In [ ]:
(m//(k+1))*k+m%(k+1)

6

In [ ]:
count = (m//(k+1))*k+m%(k+1) #가장 큰 수가 더해지는 횟수

result = 0
result += count * first  #가장 큰 수 더하기
result += (m-count) * second  #두번째로 큰 수 더하기

print(result)

46

- 반복되는 수열: (6, 6, 6, 5)
- 반복되는 수열의 길이: (K + 1)
- 수열이 반복되는 횟수: M // (K + 1)
- 여기에 K를 곱해주면 가장 큰 수가 등장하는 횟수
- M이 (K+1)로 나누어 떨어지지 않는다면, M을 (K+1)로 나눈 나머지만큼 가장 큰 수가 추가로 더해짐
- 즉, int(m/(k+1))*k+m%(k+1) --> 가장 큰 수가 더해지는 횟수!

In [ ]:
(m // (k+1))*k

6

In [ ]:
m % (k+1)

0

### 답안

In [ ]:
n, m, k = map(int, input().split())
num = list(map(int, input().split()))

num.sort()
first = num[-1]   # 가장 큰 수
second = num[-2]  # 두번째로 큰 수

result = 0

while True:
    for i in range(k):  #가장 큰 수를 k번 더하기
        if m == 0:
            break
        result += first
        m -= 1
    if m == 0:
        break
    result += second
    m -= 1

print(result)

In [ ]:
n, m, k = map(int, input().split())
num = list(map(int, input().split()))

num.sort()
first = num[-1]   # 가장 큰 수
second = num[-2]  # 두번째로 큰 수

count = (m//(k+1))*k+m%(k+1) #가장 큰 수가 더해지는 횟수

result = count * first + (m-count) * second 

print(result)

## 3. 숫자 카드 게임
여러 개의 숫자 카드 중에서 가장 높은 숫자가 쓰인 카드 한 장을 뽑는 게임
1. 숫자가 쓰인 카드들이 N*M 형태로 놓여 있다. 이때 N은 행의 개수를 의미하며, M은 열의 개수를 의미한다.
2. 먼저 뽑고자 하는 카드가 포함되어 있는 행을 선택한다.
3. 그다음 선택된 행에 포함된 카드들 중 가장 숫자가 낮은 카드를 뽑아야 한다.
4. 따라서 처음에 카드를 골라낼 행을 선택할 때, 이후에 해당 행에서 가장 숫자가 낮은 카드를 뽑을 것을 고려하여 최종적으로 가장 높은 숫자의 카드를 뽑을 수 있도록 전략을 세워야 한다.
    - 첫째 줄에 숫자 카드들이 놓인 행의 개수 N과 열의 개수 M이 공백을 기준으로 하여 각각 자연수로 주어진다.
    - 둘째 줄부터 N개의 줄에 걸쳐 각 카드에 적힌 숫자가 주어진다.
    - 첫째 줄에 게임의 틀에 맞게 선택한 카드에 적힌 숫자를 출력한다.
---
- 각 행마다 가장 작은 수를 찾은 뒤에 그 수 중에서 가장 큰 수를 찾는 것

In [ ]:
n, m = map(int, input().split())
num = [input().split() for i in range(n)]

3 3
3 1 2
4 1 4
2 2 2

In [ ]:
n, m = map(int, input().split())
num = [input().split() for i in range(n)]

2 4
7 3 1 8
3 3 3 4

### 답안

In [ ]:
n, m = map(int, input().split())

result = 0
for i in range(n):
    data = list(map(int, input().split()))
    min_value = min(data)
    result = max(result, min_value)

print(result)

2 4
7 3 1 8
3 3 3 4
3

In [ ]:
n, m = map(int, input().split())

result = 0
for i in range(n):
    data = list(map(int, input().split()))
    min_value = 10001
    for a in data:
        min_value = min(min_value, a)
    result = max(result, min_value)

print(result)

2 4
7 3 1 8
3 3 3 4
3

## 4. 1이 될 때까지
- 어떠한 수 N이 1이 될 때까지 다음의 두 과정 중 하나를 반복적으로 선택하여 수행하려고 한다. 단, 두 번째 연산은 N이 K로 나누어 떨어질 때만 선택할 수 있다.
1. N에서 1을 뺀다.
2. N을 K로 나눈다.
- N과 K가 주어질 때 N이 1이 될 때까지 1번 혹은 2번의 과정을 수행해야 하는 최소 횟수를 구하는 프로그램을 작성하시오.
    - 첫째 줄에 N과 K가 공백으로 구분되며 각각 자연수로 주어진다. 이때 입력으로 주어지는 N은 항상 K보다 크거나 같다.
    - 첫째 줄에 N이 1이 될 때까지 1번 혹은 2번의 과정을 수행해야 하는 횟수의 최솟값을 출력한다.

In [ ]:
n, k = map(int, input().split())

25 5

In [ ]:
cnt = 0

while True:
    if n == 1:
        break
    elif n % k == 0:
        n = int(n / k)
        cnt += 1
    else: 
        n -= 1
        cnt += 1

print(cnt)

2

### 답안 예시

In [ ]:
n, k = map(int, input().split())
result = 0

while n >= k:
    while n % k != 0:
        n -= 1
        result += 1
    n //= k
    result += 1
while n > 1:
    n -= 1
    result += 1

print(result)

25 5
2

In [ ]:
n, k = map(int, input().split())
result = 0

while True:
    target = (n // k) * k
    result += (n - target)
    n = target

    if n < k:
        break
    result += 1
    n // k

result += (n - 1)
print(result)

# PART 3. 기출문제
## 1. 모험가 길드
공포도가 X인 모험가는 반드시 X명 이상으로 구성한 모험가 그룹에 참여해야 여행을 떠날 수 있다. 동빈이는 최대 몇 개의 모험가 그룹을 만들 수 있는가?
- 첫째 줄에 모험가의 수 N이 주어진다.
- 둘째 줄에 각 모험가의 공포도의 값을 N 이하의 자연수로 주어지며, 각 자연수는 공백으로 구분한다.
- 여행을 떠날 수 있는 그룹 수의 최댓값을 출력한다.

In [ ]:
n = int(input())
num = list(map(int, input().split()))

5
2 3 1 2 2

In [ ]:
num_set = set(num)
uq_num = list(num_set)  # unique

In [ ]:
uq_num

[1, 2, 3]

In [ ]:
num

[2, 3, 1, 2, 2]

In [ ]:
for i in uq_num:
    num.remove(i)
print(num)

[2, 2]

### 답안

In [ ]:
n = int(input())
num = list(map(int, input().split()))

num.sort()

result = 0 #총 그룹의 수
count = 0 #현재 그룹에 포함된 모험가의 수

for i in data: #공포도를 낮은 것부터 하나씩 확인하며
    count += 1 #현재 그룹에 해당 모험가를 포함시키기
    if count >= i : #현재 그룹에 포함된 모험가의 수가 현재의 공포도 이상이라면, 그룹 결성
        result += 1 #총 그룹의 수 증가시키기
        count = 0 #현재 그룹에 포함된 모험가의 수 초기화

print(result

In [ ]:
# 5 / 2 3 1 2 2 -> 2
# 5 / 1 2 2 3 3 ->

## 2. 곱하기 혹은 더하기
각 자리가 숫자로만 이루어진 문자열 S가 주어졌을 때, 왼쪽부터 오른쪽으로 하나씩 모든 숫자를 확인하며 숫자 사이에 'x' 혹은 '+' 연산자를 넣어 결과적으로 만들어질 수 있는 가장 큰 수를 구하는 프로그램을 작성하세요.
- 첫째 줄에 여러 개의 숫자로 구성된 하나의 문자열 S가 주어진다.
- 첫째 줄에 만들어질 수 있는 가장 큰 수를 출력한다.

In [1]:
s = str(input())

02984

In [ ]:
result = int(s[0])

for i in range(len(s)-1):
    '''if result == 0:
        result = int(s[0]) + int(s[1])
        result *= int(s[i+3])'''
    result *= int(s[i+1])
print(result)

0

In [4]:
result = 0

for i in s:
    if result == 0:
        result += int(i)
    elif int(i) == 1:
        result += int(i)
    elif int(i) == 0:
        result += int(i)
    else:
        result *= int(i)

print(result)

576

### 답안

In [ ]:
s = list(input()) # s = input() 도 가능
result = 0

for i in s:
    if result == 0:
        result += int(i)
    elif int(i) == 1:
        result += int(i)
    elif int(i) == 0:
        result += int(i)
    else:
        result *= int(i)

print(result)

In [ ]:
data = input()

#첫 번째 문자를 숫자로 변경하여 대입
result = int(data[0])
for i in range(1, len(data)):
    #두 수 중에서 하나라도 '0' 혹은 '1'인 경우, 곱하기보다는 더하기 수행
    num = int(data[i])
    if num <= 1 or result <= 1 :
        result += num
    else:
        result += num

print(result)

In [ ]:
# 02984 -> 576
# 567 -> 210
# 2809 -> 2*8*9

## 3. 문자열 뒤집기

In [38]:
s = str(input())

0001100

In [46]:
cnt = 0
length = len(s)

for i in s:
    if i == '0':
        cnt += 1
print(cnt)   # 0의 개수

5

In [ ]:
result = 0

#0의 개수가 1의 개수보다 많다면 --> 문자열을 0으로 만들어줌
if cnt >= length * 1/2:  
    for i in s:
        if int(i) == 1:
            i = '0'
            result += 1

# 문자열을 1로 만들어 줌
else:



print(result)

In [ ]:
0110100
0000100
0000000

In [ ]:
0101000
0001000
0000000

In [37]:
result = 0
if cnt >= length * 1/2:
    for i in range(length):
        s[i] == s[i+1]:
        

print(result)

3