<a href="https://colab.research.google.com/github/mathstat72/Coding-Test/blob/main/Chapter_6_%EC%A0%95%EB%A0%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [실전문제] 2. 위에서 아래로
하나의 수열에는 다양한 수가 존재한다. 이러한 수는 크기에 상관없이 나열되어 있다. 이 수를 큰 수부터 작은 수의 순서로 정렬해야 한다. 수열을 내림차순으로 정렬하는 프로그램을 만드시오.
- 첫째 줄에 수열에 속해 있는 수의 개수 N이 주어진다.
- 둘째 줄부터 N+1 번째 줄까지 N개의 수가 입력된다. 수의 범위는 1이상 100,000 이하의 자연수이다.
- 입력으로 주어진 수열이 내림차순으로 정렬된 결과를 공백으로 구분하여 출력한다. 동일한 수의 순서는 자유롭게 출력해도 된다.

In [29]:
n = int(input())

array = []
for i in range(n):
    array.append(int(input()))

15
27
12

In [30]:
array

[15, 27, 12]

In [34]:
array = sorted(array, reverse=True)

for i in array:
    print(i, end=' ')

27 15 12

---
- 최종 코드 정리

In [35]:
n = int(input())

array = []
for i in range(n):
    array.append(int(input()))
    
#정렬 라이브러리 이용
array = sorted(array, reverse=True)

for i in array:
    print(i, end=' ')

3
15
27
12
27 15 12

# [실전문제] 3. 성적이 낮은 순서로 학생 출력하기
N명의 학생 정보가 있다. 학생 정보는 학생의 이름과 학생의 성적으로 구분된다. 각 학생의 이름과 성적 정보가 주어졌을 때 성적이 낮은 순서대로 학생의 이름을 출력하는 프로그램을 작성하시오.
- 첫 번째 줄에 학생의 수 N이 입력된다.
- 두 번째 줄부터 N+1 번째 줄에는 학생의 이름을 나타내는 문자열 A와 학생의 성적을 나타내는 정수 B가 공백으로 구분되어 입력된다. 문자열 A의 길이와 학생의 성적은 100 이하의 자연수이다.
- 모든 학생의 이름을 성적이 낮은 순서대로 출력한다. 성적이 동일한 학생들의 순서는 자유롭게 출력해도 괜찮다.

In [2]:
n = int(input())
student = [input().split() for i in range(n)]

2
홍길동 95
이순신 77

In [3]:
student

[['홍길동', '95'], ['이순신', '77']]

In [5]:
type(student[0][0])

str

In [6]:
type(student[0][1])

str

- 이렇게 입력하면 점수가 문자열이 됨

In [9]:
n = int(input())

array = []
for i in range(n):
    student = input().split()
    array.append((student[0], int(student[1])))

2
홍길동 95
이순신 77

In [12]:
type(array[0][0])

str

In [13]:
type(array[0][1])

int

In [14]:
# 키를 이용하여 점수를 기준으로 정렬
array = sorted(array, key=lambda student: student[1])

In [15]:
array

[('이순신', 77), ('홍길동', 95)]

In [16]:
# 성적이 낮은 순서대로 출력
for student in array:
    print(student[0], end=' ')

이순신 홍길동

---
- 최종 코드 정리

In [17]:
n = int(input())

array = []
for i in range(n):
    student = input().split()
    array.append((student[0], int(student[1])))

# 키를 이용하여 점수를 기준으로 정렬
array = sorted(array, key=lambda student: student[1])

# 성적이 낮은 순서대로 출력
for student in array:
    print(student[0], end=' ')

2
홍길동 95
이순신 77
이순신 홍길동

# [실전문제] 4. 두 배열의 원소 교체
- 첫 번째 줄에 n, k가 공백으로 구분되어 입력된다.
- 두 번째 줄에 배열 A의 원소들이 공백으로 구분되어 입력된다.
- 세 번째 줄에 배열 B의 원소들이 공백으로 구분되어 입력된다.
- 최대 K번의 바꿔치기 연산을 수행하여 만들 수 있는 배열 A의 모든 원소의 합의 최댓값을 출력한다.

In [ ]:
5 3
1 2 5 4 3
5 5 6 6 5
26

In [36]:
n, k = map(int, input().split())
a = list(map(int, input().split()))
b = list(map(int, input().split()))

#정렬
a.sort()
b.sort(reverse=True)

for i in range(k):

    # A의 원소가 B의 원소보다 작은 경우 
    if a[i] < b[i]:

        # 두 원소를 교체
        a[i],b[i] = b[i],a[i]

    else:      # A의 원소가 B의 원소보다 크거나 같을 때, 반복문 탈출
        break

print(sum(a))

 5 3
1 2 5 4 3
5 5 6 6 5
26